@use '../variables/fonts' as fonts;
@use '../variables/colors' as colors;
@use '../_mixins.scss' as mixins;

@forward '../animations/blend-in-out.scss';
@forward '../animations/rotate-hue-rotate.scss';
@forward '../animations/text-hue-rotate.scss';

$font-family-bold: fonts.$font-family-bold;

$color1: colors.$color1;
$color2: colors.$color2;

.aboutPage {
  display: none;
  flex-direction: column;
  width: 90%;
  height: 100vh;

  @include mixins.component-code-snippet('const About = () => {');

  user-select: none;

  &__cta {
    font-size: 0.8rem;
    text-decoration: none;
    color: $color1;
    padding-top: 1rem;
    transition: all 1.3s ease-in-out;

    .mail-icon {
      color: $color2;
      animation: zoom-in-out 1.5s infinite;

      @keyframes zoom-in-out {
        0% {
          transform: scale(1);
        }

        50% {
          transform: scale(1.2) rotate(10deg);
        }

        100% {
          transform: scale(1);
        }
      }
    }

    &:hover {
      border-bottom: 1px solid $color2;
    }

    &:hover .mail-icon {
      animation: rotate-hue-rotate 1.5s infinite;
    }
  }

  &__about {
    &-title {
      font-family: $font-family-bold;
      font-size: 2.7rem;
      font-style: oblique;
      text-transform: capitalize;
      width: 50%;
      margin-bottom: 1rem;
      color: $color1;

      .emoji {
        font-style: normal;
      }
    }

    &-p {
      font-family: 'Jura', sans-serif;
      font-size: 1.1rem;
    }
  }

  &__images {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 2.5rem 0;

    &.image-layer {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .figure {
      width: 70%;
    }

    .profile {
      position: absolute;
      filter: opacity(0.7);
      width: 45%;
    }
  }

  @media (min-width: 768px) {
    @include mixins.component-code-snippet(
      'const About = () => {',
      $color1,
      $color1,
      4
    );

    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__about {
      width: 60%;

      &-title {
        font-size: 3.5rem;
        width: 70%;
      }

      &-p {
        font-size: 1.3rem;
        width: 90%;
      }
    }

    &__images {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;
      padding: 1rem;

      .figure {
        width: 100%;
      }

      .profile {
        width: 53%;
      }
    }
  }
}
