@use '../variables/colors' as colors;
@use '../variables/fonts' as fonts;

$font-family-bold: fonts.$font-family-bold;
$font-family-regular: fonts.$font-family-regular;

$color2: colors.$color2;
$color2-hover: colors.$color2-hover;

.access-page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: url('../../assets/images/bg/portfolio-access-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-y: hidden; // ?> when button slide-up animation is about to start - it's causing a scrollbar to appear for a split second.
  color: $color2;
  height: 100vh;
  width: 100%;
  padding: 3rem 1rem;
  text-align: center;

  span {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 2.3rem;
    margin-top: 2rem;
    text-transform: uppercase;
    font-style: oblique;
    font-family: $font-family-bold;
    -webkit-text-stroke: 0.7px $color2-hover; /* Safari/WebKit */
    color: transparent;
  }

  button.my-btn {
    font-family: $font-family-regular;
    background-color: transparent;
    border-radius: 0.5rem;
    color: $color2-hover;

    &:hover {
      background-color: transparent;
      border: 1px solid $color2-hover;
    }

    &:focus {
      box-shadow: 0 0 200px $color2-hover;
    }
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 5rem;
    }

    button {
      margin-bottom: 3rem;
    }
  }
}

.accessPage-video {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
