@use '../variables/colors' as colors;
@use '../mixins' as mixins;

$color1: colors.$color1;

@forward '../animations/blend-in-out.scss';

body:has(.drone) {
  overflow: hidden;
}

.contact-page-bg--container {
  @include mixins.background-image(
    '../assets/images/bg/futuristic-sci-fi-3d-illustration-bg.jpg',
    cover,
    center,
    no-repeat
  );
}

.contact-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 3rem 1rem;
  width: 100%;

  @include mixins.component-code-snippet(
    'const Contact = () => {',
    colors.$color1,
    colors.$color1,
    -2
  );

  @media (min-width: 768px) {
    width: 90%;

    @include mixins.component-code-snippet('const Contact = () => {');
  }
}
