@use '../variables/colors' as colors;
@use '../mixins' as mixins;

$color1: colors.$color1;
$dark: colors.$dark;

@forward '../animations/blend-in-out.scss';

body:has(.drone) {
  overflow: hidden;
}

.contact-page-bg--container {
  @include mixins.background-image(
    '../assets/images/bg/futuristic-sci-fi-3d-illustration-bg.jpg',
    cover,
    center,
    no-repeat
  );

  @media screen and (min-width: 768px) {
    height: 100vh;
  }
}

.contact-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 3rem 1rem;
  width: 100%;

  &__details {
    position: fixed;
    bottom: 1rem;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    width: fit-content;
    margin: 0 auto;
    background-color: rgba($dark, 0.7);
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
    transform: perspective(500px) rotateX(55deg);

    span {
      font-size: 1rem;
    }

    .details-icon {
      position: absolute;
      font-size: 3rem;
      animation: slideIn 2s ease-in-out infinite;

      @keyframes slideIn {
        0% {
          bottom: 40rem;
          opacity: 0;
        }

        50% {
          opacity: 1;
        }

        100% {
          bottom: 2rem;
          opacity: 0.3;
        }
      }
    }

    span,
    .details-icon {
      font-weight: 600;
      color: $color1;
    }
  }

  @include mixins.component-code-snippet(
    'const Contact = () => {',
    $color1,
    $color1,
    -2
  );

  @media screen and (min-width: 768px) {
    width: 90%;
    min-height: 95vh;

    @include mixins.component-code-snippet(
      'const Contact = () => {',
      $color1,
      $color1,
      4
    );
  }
}
