@use '../variables/colors' as colors;
@use '../variables/fonts' as fonts;
@use '../mixins' as mixins;

@forward '../animations/blend-in-out.scss';

$square-border-size: 5px;

$color1: colors.$color1;
$color2: colors.$color2;
$dark: colors.$dark;

$font-family-bold: fonts.$font-family-bold;
$font-family-regular: fonts.$font-family-regular;

.expertise-summary-page-bg--container {
  @include mixins.background-image(
    '../assets/images/bg/expertise-page-bg.jpg',
    cover,
    center,
    no-repeat
  );
}

.expertise {
  @include mixins.component-code-snippet(
    'const Expertise = () => {',
    $dark,
    $color1,
    1,
    // * top
    1,
    // * bottom
    0 // * bottom-desktop
  );

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  align-items: end;
  min-height: 100vh;

  &__card {
    min-width: 250px;
    // stylelint-disable-next-line
    height: fit-content;
    margin: 1rem;
    padding: 0.5rem;
    padding-bottom: 0.8rem;
    border: 2px solid rgba(255, 255, 255, 0.063);
    border-radius: 0.5rem;

    &:nth-child(1) {
      margin-top: 7rem;
    }

    h2 {
      color: $color1;
      font-size: 1.5rem;
      font-family: $font-family-bold;
      font-style: oblique;
      margin: 0.5rem;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;

    span {
      color: $color2;
      font-size: 1rem;
      font-family: $font-family-regular;
      margin: 0.3rem;
      padding: 0.5rem;
      border-radius: 0.5rem;
      background-color: rgba(13, 30, 40, 0.495);
    }
  }

  .squares--container {
    display: flex;

    .square-item {
      background-color: $color1;
      height: 35px;
      width: 35px;
      margin-top: 1rem;
      margin-left: 1rem;
      border-radius: 0.5rem;
      border-left: $square-border-size solid $color2;
      transform: skew(30deg);
      opacity: 0.8;

      &:nth-child(3) {
        background-color: $color2;
        border-left: $square-border-size solid $color1;
      }
    }
  }

  @media (min-width: 768px) {
    @include mixins.component-code-snippet(
      'const Expertise = () => {',
      $dark,
      $color1,
      4,
      // * top
      1,
      // * bottom
      1 // * bottom-desktop
    );

    padding-top: 4rem;
    padding-left: 6rem;

    .squares--container {
      justify-content: flex-end;
      padding-right: 0.7rem;

      .square-item {
        border-left: none;
        border-right: $square-border-size solid $color2;
        transform: skew(-30deg);

        &:nth-child(3) {
          border-left: none;
          border-right: $square-border-size solid $color1;
        }
      }
    }

    &__items {
      display: flex;
      justify-content: flex-end;

      span {
        align-items: end;
      }
    }
  }
}
