@use '../styles/variables/colors' as colors;
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

@mixin component-code-snippet(
  $content,
  $color: colors.$color1,
  $color-desktop: colors.$color1,
  $top: 1,
  $bottom: 1,
  $bottom-desktop: 1
) {
  &::before,
  &::after {
    font-family: 'Architects Daughter', 'Jura', cursive, sans-serif;
    font-size: 1.2rem;
    font-style: oblique;
    color: $color;
    animation: text-hue-rotate 10s infinite linear;
    position: relative;

    @media (min-width: 768px) {
      color: $color-desktop;
    }
  }

  &::before {
    content: $content;
    align-self: flex-start;
    top: #{$top}rem;

    @media (min-width: 768px) {
      position: absolute;
    }
  }

  &::after {
    content: '};';
    align-self: flex-end;
    bottom: #{$bottom}rem;

    @media (min-width: 768px) {
      bottom: #{$bottom-desktop}rem;
    }
  }
}
