@forward 'base/normalize.css';
@forward 'UI/button.scss';
@forward 'UI/LineCount.scss'; // * LineCount is a component that is present and should be styled in all pages.

@use './variables/colors' as colors;
@use './variables/fonts' as fonts;
@use './mixins' as mixins;

$font-family-light: fonts.$font-family-light;

$dark: colors.$dark;
$light: colors.$light;
$light-gray: colors.$light-gray;

@font-face {
  font-family: 'RolexFont-Bold';
  src: url('../assets/fonts/RolexFont-Bold-WebS.woff2') format('woff2');
}

@font-face {
  font-family: 'RolexFont-Regular';
  src: url('../assets/fonts/RolexFont-Regular-WebS.woff2') format('woff2');
}

@font-face {
  font-family: 'RolexFont-Light';
  src: url('../assets/fonts/RolexFont-Light-WebS.woff2') format('woff2');
}

body {
  background-color: $dark;
  color: $light;
  font-family: $font-family-light;

  @include mixins.styled-scrollbar($light-gray, $dark, 0.5rem, 0, 1rem);
}
