@forward 'base/normalize.css';
@forward 'UI/button.scss';
@forward 'UI/LineCount.scss';

@use './variables/colors' as colors;
@use './variables/fonts' as fonts;

$font-family-light: fonts.$font-family-light;

$dark: colors.$dark;
$light: colors.$light;

@font-face {
  font-family: 'RolexFont-Bold';
  src: url('../assets/fonts/RolexFont-Bold-WebS.woff2') format('woff2');
}

@font-face {
  font-family: 'RolexFont-Regular';
  src: url('../assets/fonts/RolexFont-Regular-WebS.woff2') format('woff2');
}

@font-face {
  font-family: 'RolexFont-Light';
  src: url('../assets/fonts/RolexFont-Light-WebS.woff2') format('woff2');
}

body {
  background-color: $dark;
  color: $light;
  font-family: $font-family-light;
}
