@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

$font-family-bold: 'RolexFont-Bold', 'Jura', sans-serif;
$font-family-regular: 'RolexFont-Regular', 'Jura', sans-serif;
$font-family-light: 'RolexFont-Light', 'Jura', sans-serif;
