@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

$font-family-bold: 'RolexFont-Bold';
$font-family-regular: 'RolexFont-Regular';
$font-family-light: 'RolexFont-Light';
